[2017-02-26 06:03] hunkim opened #10 "Jupiter notebook images"
![image](https://cloud.githubusercontent.com/assets/901975/23337536/62de1ebc-fc2c-11e6-9df2-926be5f18d21.png)

[2017-02-26 06:08] #10 closed

[2017-02-26 06:10] hunkim commented on #10
![image](https://cloud.githubusercontent.com/assets/901975/23337561/56236b68-fc2d-11e6-956e-bc24325a824d.png)

[2017-02-26 13:36] hunkim commented on #10
![image](https://cloud.githubusercontent.com/assets/901975/23340105/a7ba8040-fc6b-11e6-8bc7-aba9f4cf7b78.png)

[2017-02-26 13:47] hunkim commented on #10
![image](https://cloud.githubusercontent.com/assets/901975/23340190/14c22e4e-fc6d-11e6-90ad-485510878cdc.png)

[2017-02-26 14:04] hunkim commented on #10
![image](https://cloud.githubusercontent.com/assets/901975/23340337/71b27652-fc6f-11e6-96ef-760998755f77.png)

[2017-02-26 14:05] hunkim commented on #10
![image](https://cloud.githubusercontent.com/assets/901975/23340355/a4bd3c08-fc6f-11e6-8a99-1e3bbbe86733.png)

[2017-02-27 04:25] hunkim commented on #10
![image](https://cloud.githubusercontent.com/assets/901975/23337676/bd154da2-fc30-11e6-888c-d86bc2206066.png)

[2017-02-27 04:26] hunkim commented on #10
![image](https://cloud.githubusercontent.com/assets/901975/23348727/cc981856-fce7-11e6-83ea-4b187473466b.png)

[2017-02-27 04:26] hunkim commented on #10
![image](https://cloud.githubusercontent.com/assets/901975/23348750/f23dd26c-fce7-11e6-9a10-dab09ab9fd89.png)

[2017-02-27 22:52] hunkim commented on #10
![image](https://cloud.githubusercontent.com/assets/901975/23383634/649efd0a-fd82-11e6-925d-8041242743b0.png)

[2017-02-27 22:53] hunkim commented on #10
![image](https://cloud.githubusercontent.com/assets/901975/23383681/9943a9fc-fd82-11e6-8121-bd187994e249.png)

[2017-02-28 08:10] FuZer opened #15 "convert py to ipynb"
.py 파일을 .ipynb로 변환하려고 합니다.
혹시 다른 분 중에서 변환을 진행 중이거나
변환 목록 등이 있나요?

[2017-02-28 08:37] hunkim commented on #15
Thanks! I'd like to get code reviews on py files first. Then, you can help us to port them to ipynb next week. Could you check py files and they are OK?

[2017-02-28 09:42] brainstormot opened #16 "lab-10-5-mnist_nn_dropout.py 에 cost 부분에 대해 질문 있습니다."
[code]
위의 코드는 lab-10-5-mnist_nn_dropout.py 의 session 부분을 발췌한 것입니다.
저기서 optimizer 를 run 한 뒤에 cost를 다시 run하게 되는데 dropout을 적용했을 경우, 활성화되는 뉴련이 두 run의 경우에 각각 달라지는 것 같습니다.

[code]
와 같이 코드를 바꾸어서 수정해보면 여기에서 `cost_1`이 본래 코드의 `cost`와 같고 `cost_2`는 그냥 한번 더 run을 실행하여 구한 값입니다.

이럴 경우 `cost_1`과 `cost_2`의 값이 다름을 확인하였습니다.

`print(cost_1,cost_2)`의 결과는 아래와 같습니다.

![image](https://cloud.githubusercontent.com/assets/9

[2017-02-28 10:33] #16 closed

[2017-02-28 11:47] FuZer commented on #15
네 :)

[2017-02-28 11:47] #15 closed

[2017-03-01 05:34] cynthia opened #18 "Refactor datasets out to a singular source?"
Follow-up from #17

The datasets are currently (aside from the CSV imports) defined inline, which can get a bit messy when you have to keep the data consistent across multiple (in this case) implementations of the same thing.

I've been wondering if it'd make sense to refactor all of the data out to a single place and have the individual lesson scripts import the data. (I've been wondering about u

[2017-03-01 06:53] cynthia opened #19 "Review 9-3~5"
As discussed in #17.

[2017-03-01 09:02] kkweon opened #20 "Lab-09-05"
교수님 안녕하세요.
최근에 올리신 TF로 Backprop 구현해보기에서 생각과는 다른 부분이 있어서 문의드립니다.

1) Y의 레이블 값을 `tf.one_hot(Y, nb_classes)` 에서 Y에 들어오는 레이블 값이 0에서 시작하지 않으면 잘못된 값이 나오더라구요. 현재 Y 데이터의 레이블 값은 1에서 시작하고 있습니다.

참고 코드
[code]

2) Backpropgation의 식이 제가 생각했던 것과는 다른데요.
현재 코드
[code]
제가 생각하는 코드는
- sigma_prime이 없고
- d_w를 N으로 나누어져야 한다고 생각합니다.
[code]

- sigma_prime이 필요 없는 경우는

[code]
- N으로 나눠주는 이유는
[code]
이라서 결국 저 N의 경우 끝까지 dLoss 오게

[2017-03-01 09:09] hunkim commented on #20
"레이블 값이 0에서 시작" 이부분은 버그입니다. 혹시 PR보내 주시면 감사하겠습니다. Lab 06-2도 같은 버그가 있습니다.

아래 backprob은 제가 집에가서 한번 자세히 볼께요. 감사합니다!

[2017-03-01 10:59] #20 closed

[2017-03-01 14:21] kkweon opened #25 "Lab 10. Back Propagation Implementation."
In, [`lab-10-X1-mnist_back_prop.py`](https://github.com/hunkim/DeepLearningZeroToAll/blob/master/lab-10-X1-mnist_back_prop.py)

Back propagation is defined as follows:
[code]
# Problem
This backpropagation is only true when the loss function is
![image](https://cloud.githubusercontent.com/assets/2981167/23461493/0000fcf0-fe3f-11e6-9160-9664d00c7647.png)

#### Proof

Current Forward Step:
![image](

[2017-03-01 15:26] cynthia commented on #25
MSE will still work, just not very well as it's less suitable for multinomial distribution. I'm guessing the choice is for simplicity reasons, as cross-entropy+softmax would make it harder to follow.

For pedagogical reasons, not introducing extra concepts which are extensions of the base concept (in this case, backprop) being taught is probably better for the audience. (That said, TensorFlow's no

[2017-03-01 19:49] kkweon commented on #25
I agree it can look tedious but I thought to bring up because of the following reasons:
* ~I thought Lab10-X1 was *optional* like an extra challenge~. Currently, it can give people the wrong idea that RMSE is okay to use for any classification problems.
  * [Quora](https://www.quora.com/How-is-root-mean-square-error-RMSE-and-classification-related) has some great answers for anyone who wants to kn

[2017-03-01 20:54] hunkim commented on #25
" I think it's still better to explicitly define what loss function we are using in every files (even if we stick to the MSE and do backprops by hands)"

I think it's a very good idea.

[2017-03-02 03:03] cynthia commented on #25
I second the point that it would be useful for the readers if the method used was noted, and probably a inline comment mentioning "you wouldn't do this in a real world environment" about the inadequacy of the pieces used. (And deal with better tools for this later.)

I understand that TensorFlow is the cool thing to do, but I'm a bit curious if it would have been better to do this in raw numpy for

[2017-03-02 07:24] FuZer opened #27 "change comment cost -> cost/loss"
#26
cost함수 부분 주석과 변수 명이 cost와 loss과 혼용 되어 있는 것을 확인했습니다.
처음 시작하시는 분들이 용어에 혼동하지 않을까 생가되어 주석부분을 "cost/loss"로 둘 다 표기를 하였는데 어떠한가요?

[2017-03-02 07:24] hunkim commented on #27
Done!

[2017-03-02 07:24] #27 closed

[2017-03-02 07:28] hunkim commented on #25
Thanks for your discussion. I try to make one slide to explain backprop (single values). Could you do quick sanity check for me?

Many variables (so there might be some typos), but we will see if I can explain it well in my video/lecture at HKUST.

Also working on the matrix version after this.

![image](https://cloud.githubusercontent.com/assets/901975/23497128/a4a3047e-ff5c-11e6-9dfa-8e0944851b5

[2017-03-02 09:35] kkweon commented on #25
It seems good, but some dimensions are wrong which I suppose you are aware of this.

I think it's also worth mentioning how to do a quick dimension check.
We know that a gradient of W2 (= dE/dW2) must have the same dimension as W2.

So, we know
* dE/dW2 must have the dimension shape of (hidden_dim, output dim)
  * assuming a1 * W2 = (N, hidden_dim) * (hidden_dim, output_dim)
* dE/dsigma_2 has the

[2017-03-02 09:53] hunkim commented on #25
This is a matrix version:

![image](https://cloud.githubusercontent.com/assets/901975/23501987/14304806-ff71-11e6-9c7e-348a13af075b.png)

[2017-03-02 09:57] hunkim commented on #25
@kkweon Thanks for the comments. For figure 1, it's for single values so no need to worry about the dimensions.

I added Figure 2, and I guess the dimensions are all correct. Could you do a quick check? Cheers!

[2017-03-02 10:54] hunkim commented on #25
@cynthia I agree. Using TF to write backprp is not the best idea. However, I don't want to introduce new numpy functions such as np.dot, etc.

Do you think we can simplify this code as much as we can? For example l1 = tf.add(tf.matmul(X, w1), b1) -> l1 = tf.matmul(X, w1) + b1.

It's just my thought. Feel free to add yours.

[2017-03-02 11:20] kkweon commented on #25
There were two typos (left comments in the google slides). Everything else looks good to me.

[2017-03-02 15:05] cynthia commented on #25
So, here are my two cents: consistency wise, I'm not sure if I am in full agreement that TF notation is easier to understand than numpy notation.

As for the slides, content wise I don't think I can add more than what has been mentioned above - but who is your audience? If you want your audience to be graduate school (or at least CS undergrad) level, the slides are fine. If you want to make the ma

[2017-03-02 15:38] hunkim commented on #25
@cynthia I see. Perhaps, could you make a numpy version of lab 10-X1? I really appreciate it.

Slides, I guess they are for more advanced students/developers. Certainly, they are not for the beginners.

[2017-03-02 18:16] GzuPark opened #47 "lab-12-5-rnn_stock_prediction.py"
If anyone sees below when this file run,

[code]

Check out [ImportError: cannot import name NUMPY_MKL
](http://stackoverflow.com/questions/37267399/importerror-cannot-import-name-numpy-mkl) and solution to download [here](http://www.lfd.uci.edu/~gohlke/pythonlibs/#numpy)

[2017-03-02 20:19] hunkim commented on #47
Thanks. Do you know which numpy calls in the file cause this issue? Perhaps, we can replace it.

[2017-03-02 20:39] #18 closed

[2017-03-03 04:22] cynthia commented on #25
Sure, that's probably a separate issue, I'll send in a numpy PR when I have time.

As for the remark about this being advanced students, I think advanced students deserve better datasets. I'm personally a bit uncomfortable with the data used ([1 2 3] -> [1 2 3]) as it's not the best data for demonstrating the characteristics of the underlying algorithms involved. Obviously, this is a subjective re

[2017-03-03 05:33] hunkim commented on #25
@cynthia "I'll send in a numpy PR when I have time." +1

"data used ([1 2 3] -> [1 2 3]) as it's not the best" , agree. However, I used that in my theory lecture part, so it's hard to change in the lab. When I remake the theory video, I'll change it. Thanks for your comments.

[2017-03-03 05:40] kkweon opened #51 "Lab 09-5 Sigmoid used instead of Softmax"
# Problem
In [lab-09-5-softmax_back_prop.py](https://github.com/hunkim/DeepLearningZeroToAll/blob/master/lab-09-5-softmax_back_prop.py),

Although softmax is a generalization of the logistics function, two have different formulas and different derivatives. The current implementation is technically doing **multiple of single logistics regressions** instead of **multi-class classification**.

What i

[2017-03-03 06:19] hunkim commented on #51
Thanks for your suggestion. I also like the first option.

Cheers,
Sung

[2017-03-04 06:02] #51 closed

[2017-03-04 06:08] #25 closed

[2017-03-04 11:22] GzuPark commented on #47
This problem occurred on the line `from sklearn.preprocessing import MinMaxScaler`.
If we edit `scaler = MinMaxScaler(feature_range=(0, 1))`, we can solve the problem another way.

[2017-03-07 15:12] GzuPark commented on #47
[code]

If we use above function, we can do it!! Also, we don't need to use `sklearn.preprocessing` package.

[2017-03-07 22:20] hunkim commented on #47
Cool. I think it's simple enough to add in the source code. Could you send
a PR?

Sung

On Wed, Mar 8, 2017 at 12:12 AM, Jongmin <notifications@github.com> wrote:

[2017-03-08 04:41] GzuPark commented on #47
#56 #57 Done.

[2017-03-10 01:15] kkweon commented on #47
It can be done in two lines though.
[code]

[2017-03-10 01:41] hunkim commented on #47
Super.
On Fri, 10 Mar 2017 at 10:15 AM, Mo Kweon <notifications@github.com> wrote:

[2017-03-10 01:41] hunkim commented on #47
Can you come up with a pr?
On Fri, 10 Mar 2017 at 10:40 AM, Sung Kim <hunkim@gmail.com> wrote:

[2017-03-10 02:06] kkweon commented on #47
I can do that. The vectorized version is 8 times faster than the loop
[code]

[2017-03-10 02:08] hunkim commented on #47
I love it.

Sung

On Fri, 10 Mar 2017 at 11:06 AM, Mo Kweon <notifications@github.com> wrote:

[2017-03-16 13:24] bkRyusim opened #69 "lab-03-2의 코드에 대해 질문있습니다."
lab-03-2에서는 cost를
`cost = tf.reduce_sum(tf.square(hypothesis - Y))`
로 정의했는데,
`cost = tf.reduce_mean(tf.square(hypothesis - Y))`
으로 해야 정확한거죠? 모든 cost의 평균이니까...

물론 총합이나 평균이나 최솟값을 구하는데 영향을 주진 않겠지만
혹시 sum으로 해야만 하는 이유가 있는지 궁금해서 질문드립니다.

[2017-03-16 15:07] hunkim commented on #69
`tf.reduce_mean` sounds right. Could you send a pull request?

Thanks!

[2017-03-17 06:57] bkRyusim commented on #69
Thanks for your comment!
I'll make PR.

[2017-03-17 06:58] #69 closed

[2017-03-19 13:47] kookbal opened #71 "OutOfRangeError"
ML lab 04-2: TensorFlow로 파일에서 데이타 읽어오기 강좌를 수강하다가
케글에있는 데이터를 사용하여 시도해보고 있습니다.

HR_comma_sep.csv 데이터를 임포트하고

# coding: utf-8

# In[1]:

import tensorflow as tf
import numpy as np

# In[2]:

url = '../kookjinkim/Downloads/HR_comma_sep.csv'
filename_queue = tf.train.string_input_producer([url], shuffle=False, name='filename_queue')

# In[3]:

reader = tf.TextLineReader()
key, value = reader.read(filen

[2017-03-19 21:58] hunkim commented on #71
Can you show the kaggle data, HR_comma_sep.csv?

[2017-03-19 22:56] kookbal commented on #71
This is URL link - https://www.kaggle.com/ludobenistant/hr-analytics
Thank you.

[2017-03-19 23:42] hunkim commented on #71
The data type for sales and salary seem string.

[2017-03-24 19:13] hunkim commented on #71
Did you fix this problem?

[2017-03-24 19:17] hunkim opened #73 "Need FC after RNN outputs"
@imcomking reported this:

Since the `tf.contrib.seq2seq.sequence_loss` requires `logit`, we need a FC, since the `outputs` had an activation function.

Or we need to implement a simple `sequence_loss` which can take RNN outputs.

[code]

[2017-03-27 05:28] hunkim commented on #10
![image](https://cloud.githubusercontent.com/assets/901975/24342102/a8d6f86a-12f9-11e7-9dfd-4772512991d1.png)

[2017-03-31 01:46] kkweon opened #75 "Adding Batch Normalization Examples"
## Abstract
TL;DR Let's add a batch norm
## Issue
The same issue has been called out a few days ago, but I don't see a PR coming up.
Anyway, I think it's a good idea to add batch normalization examples because it's quite confusing for beginners.

Why it's confusing: because when there is a batch normalization layer, exponential moving average (momentum) must be calculated at training time. However

[2017-03-31 01:49] hunkim commented on #75
Sounds really good. Perhaps, lab-10-6-mnist_batch_norm?

[2017-03-31 01:49] hunkim commented on #73
Done!

[2017-03-31 01:49] #73 closed

[2017-03-31 02:00] kkweon commented on #75
@hunkim Do you think the [Jupyter notebook link](https://nbviewer.jupyter.org/gist/kkweon/e73aad30e3dd096bca7a50d126749518) is easy to understand?

If so, I'm going to add comments to make it clear, but I'm going to keep the codes as it is.

[2017-03-31 02:01] hunkim commented on #75
@kkweon Yes. I think it's the way to go.

[2017-04-01 03:02] #75 closed

[2017-04-02 00:54] skyer9 opened #78 "some changes in keras 2.x"
there are many changes in keras 2.x.

https://github.com/fchollet/keras/wiki/Keras-2.0-release-notes

some change is...
 - The nb_epoch argument has been renamed epochs everywhere
 - Any arguments (other than nb_epoch) prefixed with nb_ has been renamed to be prefixed with num_ instead.

and there is undocumented change.

[code]

[2017-04-02 01:09] kkweon commented on #78
lol, I have completely forgotten we have Keras too.
Anyway, I'm sure @hunkim will say "Feel free to send a PR."
Just let people know which one you are working.

[2017-04-02 01:28] hunkim commented on #78
Please send us PRs

We will also have the pyTorch directory soon. :-)
On Sun, 2 Apr 2017 at 9:09 AM, Mo Kweon <notifications@github.com> wrote:

[2017-04-02 01:31] skyer9 commented on #78
yes.
I will write some PR soon.

[2017-04-02 01:47] hunkim commented on #78
Thanks! Please note that files in Keras are outdated. If you can update
them for Keras 2.0 and sync with TF lab files, it will be super wonderful!

Sung

On Sun, 2 Apr 2017 at 9:31 AM, skyer9 <notifications@github.com> wrote:

[2017-04-02 11:43] kkweon commented on #78
I updated the travis script such that it can run through all *.py files including TF and Keras.
Since it shows no errors, I will close this.

[2017-04-02 11:43] #78 closed

[2017-04-02 20:36] #47 closed

[2017-04-02 20:36] #19 closed

[2017-04-06 12:50] davinnovation opened #83 "klab-04-3-file_input_linear_regression.py [improvement]"
line 15 : model.fit(x_data, y_data, nb_epoch=2000)
- on Keras 2, `nb_epoch` to `epochs`

[2017-04-06 12:52] davinnovation opened #84 "klab-04-4-stock_linear_regression.py [ improvement ]"
on Ubuntu 16.04, `import matplotlib.pyplot` makes Import Error
needs install python3-tk package -  [ http://stackoverflow.com/questions/36327134/matplotlib-error-no-module-named-tkinter ]

[2017-04-06 12:54] davinnovation opened #85 "klab-05-2-logistic_regression_diabetes.py [ improvement ]"
line 14 : model.fit(x_data, y_data, nb_epoch=2000)
- on Keras 2, `nb_epoch` to `epochs`

[2017-04-06 12:56] davinnovation opened #86 "klab-09-2-xor-nn.py [ improvement ]"
line 14 : model.fit(x_data, y_data, nb_epoch=2000)
- on Keras 2, `nb_epoch` to `epochs`

[2017-04-06 12:58] davinnovation opened #87 "Keras 2 API support"
Title:
Keras 2 API support

* [x] klab-11-1-cnn_mnist.py
[code]
* [x] klab-09-2-xor-nn.py
[code]
* [x] klab-05-2-logistic_regression_diabetes.py
[code]
* [x] klab-04-3-file_input_linear_regression.py
[code]

[2017-04-06 13:02] hunkim commented on #87
Good point. Feel free to send us PR.

[2017-04-07 20:54] #86 closed

[2017-04-07 20:54] #85 closed

[2017-04-07 20:54] #83 closed

[2017-04-07 21:05] kkweon commented on #84
Tkinter is actually the **Python STANDARD package**
It seems you are using the system python3 in Ubuntu, which basically comes as a barebone (no packages are pre-installed except for system-related for disk performance)

* There are lots of lib/packages to install if you want to keep using the system python3 in Ubuntu
* I suggest installing anaconda
* This is not an issue, so I will close

[2017-04-07 21:05] #84 closed

[2017-04-07 22:05] jihobak commented on #87
@kkweon

add minor issue

klab-11-1-cnn_mnist.py
line 79:  nb_epoch —> epochs

[2017-04-07 23:44] #87 closed

[2017-04-08 13:46] Lewisxyz000 opened #97 "Naming of w_val, cost_val"
I think Lab03-1 can use **w_record**, **cost_record** or another name instead of **w_val** and **cost_val**
w_record and cost_record are hard to know at a glance

[2017-04-08 14:06] hunkim commented on #97
Sounds good. Feel free to send a pr.
On Sat, 8 Apr 2017 at 9:46 PM, Lewis Kim (Sunghyun Kim) <
notifications@github.com> wrote:

[2017-04-08 14:55] Lewisxyz000 commented on #97
I did two PR...but First PR is my mistake.. please close that #98 PR.

[2017-04-08 23:54] hunkim commented on #10
![image](https://cloud.githubusercontent.com/assets/901975/24833375/c0d9c262-1cf9-11e7-9efc-5dd6fe0fedb0.png)

[2017-04-08 23:56] hunkim commented on #10
![image](https://cloud.githubusercontent.com/assets/901975/24833381/fd01869e-1cf9-11e7-9d59-df08c7c6e5c4.png)

[2017-04-09 04:38] #97 closed

[2017-04-11 15:41] sxjscience opened #107 "Lab experiments in MXNet"
I decide to add the following 7 lab experiments implemented in MXNet.
Also, all the scripts will be tested against the latest MXNet master.

TODOs
-------
Basic
- [x]  Lab 4-3
- [x]  Lab 5-2
- [x]  Lab 6-2
- [x]  Lab 11-2
- [x]  Lab 11-5
- [x]  Lab 12-4
- [x]  Lab 12-5

Advanced
- [ ] Spatial Transformer Network
- [ ] GAN that fits a mixture of Gaussian

[2017-04-11 21:20] hunkim commented on #107
Thanks!

[2017-04-12 08:18] kkweon opened #109 "refactoring MinMaxScaler"
# Summary
* Currently, two types of `MinMaxScaler`s are used inconsistently
* It's not consistent
* Let's choose one and fix !

## Type 1: using sklearn

[code]
### Problems
1. it creates another dependency on `sklearn`

## Type 2: custom defined function

[code]
### Problems
1. Instead of `MinMaxScaler`, it should be named as `min_max_scaler(data)` since it's a function.
2. It takes multiples lin

[2017-04-12 08:22] hunkim commented on #109
+1 for Type 1. Also, I used this for KaggleZeroToAll.

[2017-04-12 08:46] kkweon commented on #109
Since this is easy to fix, I will leave it open for beginners. Please post here if anyone wants to tackle this.

[2017-04-13 04:38] chaht01 opened #112 "Minor error in lab-10-X1, backprop process"
I always appreciate with this repository and lecture video from youtube.
Unfortunately I think there is an error in back propagation step described in file lab-10-X1.

Line 43, `d_l2 = diff * sigma_prime(l2)`, I think it should be `d_l2 = diff`.

[2017-04-13 04:41] kkweon commented on #112
Check #25

[2017-04-13 05:08] chaht01 commented on #112
Thanks to @kkweon !
I think it needs to notice what type of loss function is used(Same to #25 ).
(I feel sorry for my English)

[2017-04-13 05:22] kkweon commented on #112
@chaht01 Yes, it's definitely in the milestones.
Can you create a new issue about, say, defining loss functions explicitly?

[2017-04-13 15:36] sxjscience opened #116 "TF examples take over all GPU memory"
I find that if we run the TF example, it will try to take over all of the available GPU memory (Refer: https://www.tensorflow.org/tutorials/using_gpu). This can cause troubles in public servers where lots of users are sharing the GPUs.

For example, when running [klab-12-5-seq2seq.py](https://github.com/hunkim/DeepLearningZeroToAll/blob/master/Keras/klab-12-5-seq2seq.py), the GPU usage could be li

[2017-04-13 21:36] hunkim commented on #116
Interesting.

Do you mean `from keras.utils.vis_utils import plot_model` help reduce memory?

How about just running TF without Keras. The same memory issue?

[2017-04-13 21:55] kkweon commented on #116
This is a normal behavior in Tensorflow

Anyway I don't see a problem because
1. For people coming to this repo, a situation like this is very rare.
2. If there isn't enough memory, it will show pool allocations errors. No harm is done

[2017-04-13 21:56] #112 closed

[2017-04-14 01:12] sxjscience commented on #116
@hunkim Configuring the memory allocation strategy of TF to be "allow_growth=True" can solve the problem.

@kkweon Currently I'm having the third problem. We will need to run multiple jobs on the same GPU or different GPUs. The default memory allocation behavior will be problematic in such scenario.

However, I feel that it's reasonable to ignore it now since most example scripts take less 1 minut

[2017-04-14 01:13] #116 closed

[2017-04-14 10:47] sxjscience commented on #107
The seq2seq learning example of MXNet is magnitudes faster than Keras with the same network structure. @kkweon @skyer9 would you like to check the result again?

The scripts are `python mxnet\\mxlab-12-5-seq2seq.py` and `python keras\\klab-12-5-seq2seq.py`. I'm not familiar with Keras and TF so it would be much better if someone that is more experienced to run these experiments again.

For MXNet,

[2017-04-15 04:34] qpark99 opened #120 "[Keras] Add lab-07 for keras"
add lab-07 for keras

[2017-04-15 05:24] zeran4 opened #122 "Possible confusion between dropout rate vs keep_prob rate"
# Problem
* `tf.layers.dropout` uses `dropout rate`
    * 0.7 means 70% will be dropped
    * [API doc](https://www.tensorflow.org/api_docs/python/tf/layers/dropout)
* `tf.contrib.layers.dropout` uses `keep_prob` instead
    * 0.7 means 70% will be kept
    * [API doc](https://www.tensorflow.org/api_docs/python/tf/contrib/layers/dropout)

# Suggestion
* In [lab-11-4-mnist_cnn_layers.py](https://gi

[2017-04-15 15:15] SDRLurker opened #123 "Small typo in lab-01-basics.ipynb"
# Problem
There is a typo in [lab-01-basics.ipynb correction](https://github.com/hunkim/DeepLearningZeroToAll/blob/master/lab-01-basics.ipynb).

![typo](https://cloud.githubusercontent.com/assets/2981167/25068187/3db096ce-2210-11e7-8afa-d8080130c1bf.png)

# Fix
* `# seart a TF session` -> `# start a TF session`

[2017-04-16 01:33] #120 closed

[2017-04-16 04:52] sxjscience commented on #122
@zeran4 I've tested these two scripts and in fact a keeping probability of 0.7 is correct. If we change the keeping probability to 0.3, too many nodes will be dropped and the performance will be quite bad.

You can refer to the implementation using MXNet https://github.com/hunkim/DeepLearningZeroToAll/blob/master/mxnet/mxlab-11-2-mnist_deep_cnn.py#L27

[2017-04-16 05:03] kkweon commented on #122
@sxjscience

@zeran4's issue is not about lowering the keep_prob to 0.3 from 0.7, but it's more like a confusing TensorFlow syntax.

In TensorFlow, there are two functions that perform the dropout

* `tf.layers.dropout`
    * If you look at the doc, it uses the "dropout" rate
    * it behaves like MXNet

* `tf.contrib.layers.dropout` (same as `tf.nn.dropout`)
    * It uses the "keep_prob" rate

By

[2017-04-16 05:10] sxjscience commented on #122
I see. So it's not consistent with https://github.com/hunkim/DeepLearningZeroToAll/blob/master/lab-11-2-mnist_deep_cnn.py#L51

[2017-04-18 14:14] skyer9 opened #129 "Gradient descent algorithm and learning rate"
I think 'learning rate' should be explained with 'Gradient descent algorithm'.

[code]

this code trains only 100 epochs and more precise.

[2017-04-18 19:07] kkweon commented on #129
I don't understand this.
Can you elaborate on your issue?
And which file are you referring to?

[2017-04-19 03:40] skyer9 commented on #129
https://github.com/hunkim/DeepLearningZeroToAll/blob/master/Keras/klab-02-1-linear_regression.py

original source code uses default value for learning rate.
it makes slows down learning time 10x.

[2017-04-19 03:42] kkweon commented on #129
Aha, feel free to send us a PR

[2017-04-19 09:06] nicewook opened #130 "supplement code for "Out of Memory" issue"
file: lab-11-2-mnist_deep_cnn.py

mnist.test data set is too big for some system so that makes Out of Memory issue.
**"ResourceExhaustedError (see above for traceback): OOM when allocating tensor with shape[10000,32,28,28]"**

I think it would be good to provide supplement code in comment

[2017-04-19 09:09] hunkim commented on #130
Thanks for reporting this. Do you have any solution?

[2017-04-19 09:13] nicewook commented on #130
I pull requested already.
frankly speaking, this is my practice for "issuing and pull requesting" too.
so, if it's not fit for this repo's policy, it's okey to pass the pull request. :-)

[2017-04-19 14:41] gmajabokkum opened #132 "try to make model in Class"
I'm trying to make LSTM model in Class

but running with class I got Nan error

can any one help?

here is my code

` class ForecastLSTM(object):

    def __init__(self, sequence_length, data_dim, output_dim, hidden_dim):

        self.X = tf.placeholder(tf.float32, [None, sequence_length, data_dim], name="X")
        self.Y = tf.placeholder(tf.float32, [None, output_dim ], name="Y")

        cell

[2017-04-20 11:33] #132 closed

[2017-04-22 09:21] skyer9 opened #134 "i wanna add Keras/klab-10-2-mnist_nn.py"
https://github.com/skyer9/DeepLearningZeroToAll/blob/add_klab_10_2/Keras/klab-10-2-mnist_nn.py

this file corresponds to lab-10-2-mnist_nn.py with tensorflow.

[2017-04-22 09:27] skyer9 opened #135 "patch for remove UserWarning"
i found UserWarning occurs when learning rate parameter exists in compile() function.
so, i made PR.
sorry for not knowing existence of guideline documents before PR.

[2017-04-25 20:24] #130 closed

[2017-04-25 20:25] kkweon commented on #134
Looks good to me!

[2017-04-28 12:30] chg0901 opened #138 "lab-09-2/3/4* file there are always with the comment "# This example does not work""
I think this is an copy "error" but it gives no real error.maybe it is not important but it changed it would be more perfect.

Thanks for your tutorials and I feel I gain a lot from this "DeepLearningZeroToAll" and the Lab PPT

[2017-04-29 09:43] #134 closed

[2017-04-29 12:00] skyer9 opened #140 "add Keras/klab-13-2-mnist_tensorboard.py"
https://gist.github.com/skyer9/2487f5dd1b57ceb6b95521d5cb10da22

it describes how to use tensorboard with Keras.

[2017-04-29 13:53] skyer9 opened #141 "add Keras/klab-13-3-mnist_save_restore.py"
https://gist.github.com/skyer9/d4cc48e7e0182f198a8b8d1a388f248f

this file describes how to save/load model.

[2017-04-30 01:37] kkweon commented on #141
Looks good.
But in Keras, it's preferred to use full model save/load instead of saving/loading weights.

* Full model save/load for regular jobs
* Weight save/load is specifically designed for transfer learning.

The reason for this preference is that
1. we don't have to define a model architecture when we use a full model load.
2. model epoch is taken care of automatically. For advanced optimizer

[2017-04-30 07:12] JAICHANGPARK opened #142 "lab-12-4-rnn_long_char ValueError"
outputs, _states = tf.nn.dynamic_rnn(cell, X_one_hot, dtype=tf.float32)
X_for_fc = tf.reshape(outputs, [-1, hidden_size])
outputs = tf.contrib.layers.fully_connected(X_for_fc, num_classes, activation_fn=None)
outputs = tf.reshape(outputs, [batch_size, sequence_length, num_classes])

[2017-04-30 07:26] kkweon commented on #142
![fff](https://cloud.githubusercontent.com/assets/2981167/25562477/7ac53d36-2d3b-11e7-88fc-cfbbe911978f.png)

I'm not able to reproduce this error.

What is your tensorflow version?  tested on OSX & Linux with tf.version 1.0.1
[code]

[2017-04-30 14:11] skyer9 commented on #141
in Keras, simple is best.
you're suggestion is good.
i will look you're suggestion.

[2017-05-03 12:13] #135 closed

[2017-05-03 12:52] #129 closed

[2017-05-04 05:17] hunkim commented on #142
I also cannot reproduce. Please let me know.

@JAICHANGPARK are you running this on Jupiter notebook?

[2017-05-04 05:17] #142 closed

[2017-05-04 05:18] hunkim commented on #138
Aha! Can you remove them and send us a PR?

[2017-05-04 05:18] hunkim commented on #140
Look forward to your PR.

[2017-05-04 05:19] hunkim commented on #123
@SDRLurker Nice. Can you send us a PR?

[2017-05-04 05:53] chg0901 commented on #138
Dear professor Sung Kim,

Thanks for your reply and I'd love to do it.

What's more,  I have been learning a lot from this project in the past
month.And I even wrote a copy version with jupyter ipython for TF 1.0 . Can
I share this together?

Yours sincerely

Hong Cheng

2017-05-04 14:18 GMT+09:00 Sung Kim <notifications@github.com>:

--
   Cheng Hong （정굉 ）

Address：Mobile Computing Lab , Kwangwoo

[2017-05-04 06:12] hunkim commented on #138
Sure. Love to see your sharing.
On Thu, 4 May 2017 at 1:53 PM, HongCheng <notifications@github.com> wrote:

[2017-05-04 06:44] chg0901 commented on #138
@hunkim  thanks a lot.

[2017-05-04 12:33] chg0901 commented on #138
Dear professor Sung Kim,

     Can you review the file
DeepLearningZeroToAll/lab-02-1-linear_regression_exampleData_noPlaceholder.ipynb
now?

now I think it works
[image: 内嵌图片 1]

Yours sincerely
Hong Cheng

2017-05-04 14:52 GMT+09:00 Hong Cheng <chenghong@kw.ac.kr>:

--
   Cheng Hong （정굉 ）

Address：Mobile Computing Lab , Kwangwoon University , Seoul
    Email：chenghong@kw.ac.kr <kwchenghong@gmail

[2017-05-04 12:47] chg0901 commented on #122
In the file [DeepLearningZeroToAll/lab-10-5-mnist_nn_dropout.py](https://github.com/hunkim/DeepLearningZeroToAll/blob/master/lab-10-5-mnist_nn_dropout.py#L24), we have this problem too

[2017-05-04 13:07] chg0901 commented on #123
@kkweon  @hunkim  I modify this typo a few minutes ago

[2017-05-04 13:25] #140 closed

[2017-05-05 14:23] skyer9 opened #157 "wanna add file in keras folder"
https://github.com/skyer9/simple_rnn_encoder_decoder/blob/master/rnn_encoder_decoder.py

it shows how ML learns PLUS operation.
predicts a+b = c.
it predicts with accuracy 97% over.

[2017-05-06 12:08] SDRLurker commented on #123
This pull request is the first time. So, I need to study how to pull request.

[2017-05-09 02:01] SDRLurker opened #159 "need to modify klab-05-2-logistic_regression_diabetes.py"
klab-05-1-logistic_regression.py is the same as modify klab-05-2-logistic_regression_diabetes.py
However, klab-05-2-logistic_regression_diabetes.py is a next example of klab-05-1.

[2017-05-09 14:38] chg0901 commented on #138
Dear @kkweon  and @hunkim , now we have remove the typos in this issue, Can we close this issue?

[2017-05-17 04:27] antil1 commented on #142
This error occur on google cloud platform. (Ubuntu 16.04LTS, Tensorflow(1.1.0))

[2017-05-23 11:00] Parkjini opened #169 "[Error] klab-11-1-cnn_mnist.py"
Traceback (most recent call last):
  File "klab-11-1-cnn_mnist.py", line 59, in <module>
    model.add(Conv2D(nb_filters, kernel_size, padding='valid', input_shape=input_shape))
TypeError: __init__() missing 1 required positional argument: 'nb_col'

why do I get this error?

[2017-05-23 11:09] #169 closed

[2017-05-25 13:58] Jake132456 opened #171 "텐서플로 설치했는데 왜 인식이 안되는지 모르겠습니다."
지금 현재 아나콘다 프롬프트로 텐서플로 활성화 후에 파이썬으로 들어가서 import tensorflow as tf하면 잘 됩니다.
그런데 atom에서 코드 실행하면 노 모듈네임드 텐서플로 뜹니다.
그러면서 헬로 텐서플로가 실행이 안 됩니다.
그리고 리니어리그레션 과정 붙여넣기 하면 cmd에서도 안되고 atom에서도 안 됩니다.
인스톨은 1.0버전이 되어있고요.
왜 안되는지 아시는 분 있으신가요?
너무 답답하네요.
윈도우 10 쓰고 있습니다.

[2017-05-25 18:39] kkweon commented on #171
파이썬 여러대가 설치 되어 있는 것 같군요.
아톰에서 파이썬은 아마 아톰이랑 같이 온 파이썬이나 다른 파이썬 깔려 있는것 같네요.

기본적으로 모든 실행 커맨드는 환경변수(PATH)에서 검색을 합니다
cmd에서 python이라고 치면 그 python을 어떻게 찾을까요
환경 변수(PATH)에있는 경로들 중에서 찾아서 가장 먼저 찾은 것이 실행됩니다.

atom에서 python을 실행시킬때 오류가 나온다는 얘기는 atom이 실행시킨 python이랑
테스트하신 python이랑 다르다는 뜻입니다.
즉 atom에서는 다른 PATH의 python을 실행시킨 것이구요.

atom에서 파이썬 경로 설정하는 부분을 잘 보시고 왜 여러대가 설치되었는지 확인해보세요.

안되는 것은 왜 안되는지 정확히 적어주시길 바랍니다.
시간

[2017-05-25 19:10] #171 closed

[2017-05-26 02:40] Jake132456 opened #172 "전에 텐서플로우 아톰에서 인식 안 됬다고 글 올렸던 사람입니다."
아나콘다 프롬프트에서는 텐서플로가 되고 아톰에서는 안 된다고 글을 오렸는데요.
제가 파이썬이 여러개여서 아나콘다 프롬프트에서는 텐서플로가 되고 아톰에서는 안되는 이유가 파이썬이 여러개 깔려 있어서 그렇다는 설명을 들었습니다.
제가 한참을 생각해본 결과 파이썬을 공식 홈페이지에서 다운 받아서 설치했다가 제어판을 통해서 지우고 다시 아나콘다를 깔았습니다.
아마 그것때문에 문제가 되지 않나 싶은데 공식 홈페이지 파이썬 어떻게 깨끗하게 삭제할 수 있을까요?

[2017-05-27 19:11] kkweon commented on #172
github issue는 해당 repo와 관련된 이슈사항을 기록하는 곳입니다.

1. https://www.facebook.com/groups/TensorFlowKR/
2. stackoverflow
3. 구글
에 질문을 올려보시는게 더 빨리 답을 얻으 실 것 같습니다 ^^

[2017-05-27 19:11] #172 closed

[2017-05-27 20:56] hunkim opened #173 "Our manual backprop weight average is missing"
For example,

https://github.com/hunkim/DeepLearningZeroToAll/blob/master/lab-09-x-xor-nn-back_prop.py

`d_W1 = tf.matmul(tf.transpose(X), d_l1)`

X's shape is (?, 2), X^T's shape is (2,?), and dl_1's shape is (?, 2). The shape of d_W1 should be (2,2), but the values of d_W1 are proportional to the sample size. We need to average these values.

The current sample size is only 4 so it's OK, but whe

[2017-05-27 21:30] kkweon commented on #173
We just need to divide by its batch size.
[code]

[2017-05-27 22:23] hunkim commented on #173
How about something like this? I removed `sigma_prime`.

[code]

[2017-05-27 22:24] hunkim opened #174 "Wrong loss for softmax (lab-09-7-sigmoid_back_prop.py)"
`loss_i = - target * tf.log(y_pred) - (1. - target) * tf.log(1. - y_pred)`

shouldn't it be

`loss_i = - target * tf.log(y_pred)`

Also, need to refactor this code (related to one hot) to improve the readability.

[2017-05-27 22:42] kkweon commented on #174
**Because we chose a "one vs all method" instead of softmax.**
Since the row sum does not add up to 1.0, we have to take every prediction into account.

For example, y_pred could be even [1.0, 1.0, 1.0].
In softmax, we only need to look at one single probability.

[code]
And it will be reduced sum later.

[2017-05-27 22:54] kkweon commented on #173
I don't have a machine to run a test right now, but I guess it will work.
However, I'm not sure if it's better. It looks quite complicated to me already.

[2017-05-28 00:01] hunkim commented on #173
@kkweon Do you need a machine to run? :-) I think your brain is enough.

The previous code starts with diff:
`diff = hypothesis - Y` which is hard to understand.

Let me know if you have any refactoring suggestions.

[2017-05-28 00:11] kkweon commented on #173
@hunkim
 I personally prefer `d_o2 * d_sigma` over `tf.multiply(d_o2, d_sigma)`.
Because

- it's more natural
- it's safer because every operation is overridden in `tf.Tensor` class and tested
- Less verbose

Like you remember when it turned into 1.0, all the basic operations were renamed.
People who used `tf.mul` had to manually fix their codes to `tf.multiply`.

[2017-05-28 00:32] hunkim commented on #173
Refactored:

[code]

make sense?

[2017-05-28 00:42] kkweon commented on #173
looks good. autopep8 will do the rest.

[2017-05-28 00:53] hunkim commented on #173
@kkweon This is right version:

[code]

Can you run in your brain?

[2017-05-28 00:58] kkweon commented on #173
Yes, the comment really helped. It looks great.
If I can, anyone should be able to run this in his/her brain. So, it's awesome.

[2017-05-28 01:00] hunkim commented on #173
@kkweon Do you like the naming? `p` for product and `a` for addition.

[2017-05-28 01:04] kkweon commented on #173
@hunkim it should be fine with the comment. Honestly I thought it is a name for the activation layer but I was able to figure it out by reading the comment

[2017-05-28 01:15] hunkim commented on #173
@kkweon Still I don't like names. Let me know if you have any suggestions.

[2017-05-31 06:35] #173 closed

[2017-06-10 07:27] ryukidong opened #177 "12-5-rnn has compile error at making dynamic_rnn"
lab-12-5-rnn_stock_prediction.py
I try to run this code, but it has error.
My TF' version is 1.1.0,

outputs, _states = tf.nn.dynamic_rnn(cell, X, dtype=tf.float32)

===============================================================
ValueError                                Traceback (most recent call last)
<ipython-input-57-ce45fe4d8f4e> in <module>()
      2 cell = tf.contrib.rnn.BasicLSTMCell(

[2017-06-10 07:45] ryukidong commented on #177
Sorry!!
It's my typing mistake.

[2017-06-10 07:45] #177 closed

[2017-06-12 11:01] syenpark opened #178 "Cost(loss) result using placeholder vs. primitive list"
I spotted cost result of 'lab-02-2-linear_regression_feed.py' is slightly different in using placeholder and using a python list.

[code]

[code]

**_Hypothesis_**, **_W_**, and **_b_** are the same, while **_cost_** result is different even with those same values. I suppose this cost result should be equal regardless of node type, so that I cannot understand this discrepancy in cost and conformab

[2017-06-12 18:08] kkweon commented on #178
W and b are learnable parameters and these values at optimal or at the final step are not unique, so it is normal that values are slightly different.

[2017-06-13 00:49] hunkim opened #179 "Selu does not work well for MNIST"
I simply add the SELU, but it does not work well in our setting.

@kkweon Any thoughts? The code is https://github.com/hunkim/DeepLearningZeroToAll/blob/master/lab-10-8-mnist_nn_selu(wip).py.

ReLu:
[code]

SeLU:
[code]

[2017-06-13 01:07] kkweon commented on #179
SELU expects input to be standardized with mean 0 and stddev 1.
But TF MNIST is ranged from 0 to 1.
Try standardize?

[2017-06-13 01:22] hunkim commented on #179
@kkweon How come you know everything? ^^

[2017-06-13 06:33] syenpark commented on #178
@kkweon, thanks for your kindly help! I will double check whether I missed or not. Should others also have the same problem, please let me know!

[2017-06-15 12:52] syenpark opened #182 "lab04-03 vs. lab04-04: Returns of 'tf.decode_csv()'"
I thought both 'xy' in each source file were the same matrix, and this leads to a question about the difference in slice index of them in your files. This is because results of xy[:, 0:-1], xy[:, [-1]] and xy[0:-1], xy[-1:] were apparently different in Numpy.

I tried to see results of 'tf.decode_csv()' through terminal, but it took too much time to see on my laptop. Also, description of its resul

[2017-06-20 07:29] syenpark opened #184 "lab04: Is it correct that different batch size generates different result?"
Not only is Your result different in lab-04-3 and lab-04-4 (Your result sample also showed it) but also it is different in lab-04-4 depending on its batch size. I'd seen the same result with Numpy instead of TensorFlow.

Is it natural to get different result related to 'batch' size in TensorFlow? If so, can we say this fact is not going to trigger any problem in using 'batch'?

[2017-06-30 02:44] kyungyunlee opened #186 "reduce_sum() function does not recognize 2nd argument 'axis'"
There seems to be an issue in reduce_sum() function in lab-06-1-softmax_classifier.py

When the second argument is "axis=1", there is a TypeError saying "unexpected keyword argument."
From my experience with python, this shouldn't be an error, but I am not sure if it is a version issue(I have the most recent one though..) or something else.

<img width="634" alt="screen shot 2017-06-30 at 11 41 35

[2017-06-30 23:10] kkweon commented on #186
I'm not able to reproduce this error. You should be able to use the `axis` keyword.
Also, it's not a version issue because `axis` has been there since the beginning.

The only thing I suspect is that you claim there is an issue in the file `lab-06-1-softmax_classifier.py`
but your error message shows the error happens in `basics-01.py` is not relevant to this file.

It seems like a sementic error

[2017-07-02 15:59] kyungyunlee commented on #186
I am very sorry about the file name and the confusion. I made my own file without cloning directly from git to try out different codes myself, so I was actually running the correct file `lab-06-1-softmax_classifier.py` and code. I also think that `axis` keyword should work, but it only works when written without...

Just wondering if it could help...I am using python3 with tensorflow '0.11.0rc2'
<

[2017-07-02 17:36] kkweon commented on #186
@kyungyunlee You are using too old version of tensorflow.
The current version is 1.2.1 and yours is 0.11.0 and even it's a rc(release candidate).

Please update your tensorflow first.

[2017-07-03 01:34] kkweon commented on #186
Great!

[2017-07-03 01:34] #186 closed

[2017-07-27 11:03] bych-lee opened #187 "Issue on minmax scaling with whole data"
In <lab-12-5-rnn_stock_prediction.py>, minmax scaling is carried out by using whole data.
However, it is assumed that we can only see the training data, and the test data is hidden.
So, I think we should correct the first part of the code as follows:

-------------------------------------------------------------------------------------------------------

[code]

[2017-07-27 11:51] kkweon commented on #187
Yes, you are right except

[code]
Plus, `MinMaxScaler` should be replaced by `sklearn.preprocessing.MinMaxScaler` (#109).

You are welcome to send a PR.

[2017-07-27 12:06] prinsommer commented on #187
"xy_train" is a matrix. So, "xy_train[i+seq_length]" would be a row vector.

Here, we want to refer the last component of the row vector, which is closing price.

So, I wrote as "xy_train[:,[-1]][i + seq_length]".

(By the way, what does PR stand for? I am new to github.)

[2017-07-27 12:13] kkweon commented on #187
- if that's the case,
then

`y = xy_train[i + seq_length, -1]` is preferred.

- PR stands for a pull request.
  - You can read more in [CONTRINGBUTING.md](https://github.com/hunkim/DeepLearningZeroToAll/blob/master/CONTRIBUTING.md)

[2017-07-27 12:18] prinsommer commented on #187
That's better, and I will try PR.

Thank you for your kind reply.

[2017-07-27 12:30] prinsommer commented on #187
It seems that `y=xy_train[:,[-1]][i + seq_length]` makes trainY be shaped (#rows, 1),

and `y = xy_train[i + seq_length, -1]` makes trainY be shaped (#rows, ), doesn't it?

[2017-07-27 12:32] kkweon commented on #187
then you can do `y = xy_train[i + seq_length, [-1]]`

the reason why `y=xy_train[:,[-1]] [i + seq_length]  ` is bad is that you are calling the entire column by calling `xy_train[:, [-1]]`

[2017-07-27 12:33] prinsommer commented on #187
I see. I am learning a lot from you today. Thank you.:D

[2017-07-28 12:46] prinsommer commented on #187
@kkweon Why should I replace `MinMaxScaler` by `sklearn.preprocessing.MinMaxScaler`?
In the code, I just defined a function called "MinMaxScaler".

[2017-07-29 02:14] kkweon commented on #187
Because it is a code smell.

- It is not consistent with other files.
- It is not following the PEP8 either.

The discussion was done in #109.
Hashtag followed by a number refers to the related issue.

[2017-08-05 09:12] Jungmo commented on #177
What was the typo? Though I copied and pasted the script, it occurs same error you wrote.

[2017-08-07 01:24] ryukidong commented on #177
When the error occurs, restart Jupyter Notebook then clear problem.

*From:* Jungmo Ahn [mailto:notifications@github.com]
*Sent:* Saturday, August 5, 2017 6:13 PM
*To:* hunkim/DeepLearningZeroToAll
*Cc:* ryukidong; State change
*Subject:* Re: [hunkim/DeepLearningZeroToAll] 12-5-rnn has compile error at
making dynamic_rnn (#177)

What was the typo? Though I copied and pasted the script, it occurs s

[2017-08-19 09:35] Hrant-Khachatrian commented on #179
Did it help @hunkim ?

[2017-08-29 14:10] tigon7476 opened #189 "lab-11-1-mnist_cnn.py"
File "D:/my_mnist_cnn.py", line 137, in <module>
    initializer=tf.contrib.layers.xavier_initializer())

ValueError: Variable W3 already exists, disallowed. Did you mean to set reuse=True in VarScope? Originally defined at:

그대로 따라하던 중, W3 = tf.get_variable() 부분에서 위와 같은 오류가 발생합니다.
처음 실행할 때는 괜찮은 데, 2번 째 실행부터 오류가 발생합니다.

Spyder 3.1.4, Python 3.6 윈도우버전입니다.

[2017-08-30 05:38] kkweon commented on #189
해당 질문은 이곳과는 상관없는 텐서플로우 질문이기 때문에 텐서플로우 페이스북 그룹에 물어보시는게 좋으실 것 같네요.
에러 메세지는 말그대로 variable w3이 존재하는데 다시 만들려고 해서 발생하는 문제입니다.

[2017-08-30 05:38] #189 closed

[2017-09-23 10:55] Lewisxyz000 opened #192 "at Lab 11.x python raise ValueError at plt.imshow(...)"
ValueError: Colormap grays is not recognized. Possible values are:...
Gray is right value for param cmap, not "Greys"

[2017-09-23 11:12] FuZer commented on #192
lab 11.x works properly.
Greys is right cmaps value

https://matplotlib.org/examples/color/colormaps_reference.html
Here is matplotlib color example.

[2017-09-23 11:19] Lewisxyz000 commented on #192
in Anaconda 4.4.0 and matplotlib2.0.2
this code raise error like this, please check

[code]

[2017-09-23 11:20] FuZer commented on #192
'greys' -> 'Greys'

[2017-09-23 11:30] Lewisxyz000 commented on #192
A-HA.... I know why.... when undo annotation with shortcut keys in VS code, it makes all code lowercase....

[2017-09-23 11:30] #192 closed

[2017-10-06 04:39] Jinhkiim opened #194 "In lab-06-1, warnings are occureed"
I have run lab 6-1. (python 3.6.2, tf 1.3 (using gpu), anaconda, win10 x64)
The following warning appeared.

Instructions for updating:
Use `argmax` instead
[[  1.37063488e-03   9.98620391e-01   8.96136680e-06]] [1]

Instructions for updating:
Use `argmax` instead
[[ 0.9315275   0.06260772  0.00586479]] [0]

Instructions for updating:
Use `argmax` instead
[[  1.23516228e-08   3.30023380e-04   9.99

[2017-10-06 04:45] kkweon commented on #194
Good catch! Thanks for letting us know here. The patch is coming soon. Thanks!

[2017-10-06 04:46] #194 closed

[2017-10-10 15:03] quanxing opened #196 "lab-01-basics.ipynb: how to show the graph visualization?"
in the code snippet;
`print("node1:", node1, "node2:", node2)
print("node3: ", node3)
`
how can i get the visualization of the graph?

[2017-10-11 02:12] ipqnojug opened #197 "lab-07-2 vs lab-07-3"
It shows that without minmax lab-07-2 doe not work. The problem in these tow codes is a simple linear regression problem. In fact, it has a good solution by using traditional statistical method without minmax.

My questions are:
1) Thouth algorithm in  lab-07-3 convergences by using minmax in advance, the prediction results do not match the real values of y. So in practice, how can we explain this

[2017-10-11 02:24] kkweon commented on #197
1. If it's scikit-learn, you just have to call `inverse_transform(y)` method or whatever. However, lab-07-2 wasn't refactored yet. So, you have to modify the function to return necessary info such as min and max. Then you can invert the scale back.
2. You have to min-max scale as you did in training data since min-max is just for scaling. It's purely for optimization purpose nothing else. If it we

[2017-10-29 09:01] wjdgkals23 opened #198 "Question fashion miniest 도와주세요!!"
import tensorflow as tf
import random
import matplotlib.pyplot as plt
import numpy as np

tf.set_random_seed(777)

def MinMaxScaler(data):
    numerator = data - np.min(data, 0)
    denominator = np.max(data, 0) - np.min(data, 0)
    # noise term prevents the zero division
    return numerator / (denominator + 1e-7)

training_epochs = 19
batch_size = 50

xy = np.loadtxt('train.csv', delimiter=',',

[2017-10-29 09:14] #198 closed

[2017-11-02 12:48] piplyman opened #199 "lab-11-2-mnist_deep_cnn The output of Fully-connected layer1"
Why does Fully-connected layer1 have 625 output?

[2018-01-04 02:17] Aleczhang13 opened #200 "hope have a English video"

[2018-01-04 03:42] kkweon commented on #200
FYI, there is [one for Pytorch](https://www.youtube.com/watch?v=SKq-pmkekTk&list=PLlMkM4tgfjnJ3I-dbhO9JTw7gNty6o_2m) though. And the knowledge is quite transferable to any framework.

[2018-01-04 19:50] kkweon commented on #199
Hi, your question is ambiguous. So I will try my best to answer your question.

### Why does it have 625 output?
Because in the [previous line](https://github.com/hunkim/DeepLearningZeroToAll/blob/master/lab-11-2-mnist_deep_cnn.py#L79),
[code]
So the shape of `X * W4` will be (?, 625) where `X` is the previous output of shape (?, 128 * 4 * 4)

### Why is it set to 625?
It doesn't have to be 625 be

[2018-01-04 20:08] kkweon commented on #196
The visualization is cropped from the Tensorboard which is covered in the later lab.

[2018-01-04 20:08] #196 closed

[2018-01-04 20:08] #199 closed

[2018-01-04 20:08] #197 closed

[2018-03-15 17:05] onito commented on #71
kaggle data has headers on the top, basically. But sometimes it seems to cause a trouble depends on how to make use of its data.

[2018-04-20 03:51] RonenHong opened #202 "d_l1 i lab-09-5-linear_back_prop.py"
Hi, I've just followed video lecture and these all code in github,
thank you so much, it helps a lot.
but I don't understand how the derivate l d_l1 can be hypothesis - Y in lab-09-5-linear_back_prop.py.
d_l1 is derivate of Loss function?
can you clarify this?
thank you in advance!!

[2018-04-24 02:32] Aydalgali opened #203 "survey link for my research project_Open Deep Learning Models"
I am a Master Student at Syracuse University working on a thesis focusing on sharing and using Deep Learning Models.

I am inviting you to participate in a research project examining people’s experiences sharing and re-using deep learning models and contributing to develop them on various platforms. We are interested in your reasons for sharing or using pre-trained deep learning models as well as

[2018-05-04 17:03] wizardbc opened #204 "tf.layers.dropout()'s rate is not keep_prob"
In `lab-11-4-mnist_cnn_layers.py` and others using the `tf.layers.dropout()`,
dropout `rate` is not the same as `keep_prob`. Actually, dropout `rate`=1-`keep_prob`.

So `dropout_rate` should be 0.3 not 0.7.

Thank you all for this great lectures and examples. I'm really enjoying  it. :)

[2018-05-04 17:06] kkweon commented on #204
Duplicate #122

[2018-05-04 17:06] kkweon commented on #204
@wizardbc Could you please send a PR to fix this?

[2018-05-04 17:39] kkweon commented on #204
fixed with #206 #205

[2018-05-04 17:39] #204 closed

[2018-05-04 17:40] kkweon commented on #122
finally fixed with #205 #206

[2018-05-04 17:40] #122 closed

[2018-07-05 04:14] cjr0106 opened #210 "lab_10_5 dropout"
why the dropout keep 0.7? where could get the default
![image](https://user-images.githubusercontent.com/32252431/42302345-0274928a-804d-11e8-8140-4a53777f89a9.png)

[2018-07-05 17:42] kkweon commented on #210
The `keep_prob` is a hyperparameter, meaning you have to find the best value and store into that variable.

`tf.placeholder` is simply a variable.
There is no such thing as 0.7 being the default parameter.
Later in the same file, you can see we're setting 0.7 to that placeholder in fact.

[code]

[2018-07-06 01:41] cjr0106 commented on #210
Thanks so much ,i got it~

2018-07-06 01:42:58"Mo Kweon" <notifications@github.com>写道：

The keep_prob is a hyperparameter, meaning you have to find the best value and store into that variable.

tf.placeholder is simply a variable.
There is no such thing as 0.7 being the default parameter.
Later in the same file, you can see we're setting 0.7 to that placeholder in fact.

for i inrange(total_batch)

[2018-07-24 21:47] neighborpil opened #212 "Code does not work(lab-12-0-rnn_basics)"
with tf.variable_scope('MultiRNNCell') as scope:
    # Make rnn
    cell = rnn.BasicLSTMCell(num_units=5, state_is_tuple=True)
    cell = rnn.MultiRNNCell([cell] * 3, state_is_tuple=True) # 3 layers

    # rnn in/out
    outputs, _states = tf.nn.dynamic_rnn(cell, x_data, dtype=tf.float32)
    print("dynamic rnn: ", outputs)
    sess.run(tf.global_variables_initializer())
    pp.pprint(outputs.eval

[2018-09-14 01:02] wkin5g opened #213 "Wrong commented in lab-09-4-xor_tensorboard.py to run the tensorboard"
[code]

It will be changed
[code]

[2018-09-18 08:34] goodcheer opened #214 "possible look-ahead bias in lab-12-5-rnn-stock"
In current code, the whole data are scaled and then partitioned into train and test set,
which utilize future (test set) information when scaling past (train set) data.
[code]
However,  i think it makes more sense to scale train and test set separately; since you would not get data of future (test set), when scaling current and past data (train set).

In real life scenarios, we know nothing about

[2018-09-18 17:36] kkweon commented on #214
You're absolutely right.
Just didn't have time to work on that lately.

If you can send a PR, it'd be greatly appreciated.

[2018-09-18 17:55] goodcheer commented on #214
Thank you. It is my great pleasure to do a PR.

[2018-09-28 17:34] kkweon commented on #214
Closing as #215 was merged

[2018-09-28 17:34] #214 closed

[2018-10-15 03:45] tongpinmo commented on #71
OutOfRangeError (see above for traceback): FIFOQueue '_1_batch/fifo_queue' is closed and has insufficient elements (requested 10, current size 0)
	 [[Node: batch = QueueDequeueManyV2[component_types=[DT_FLOAT, DT_FLOAT], timeout_ms=-1, _device="/job:localhost/replica:0/task:0/cpu:0"](batch/fifo_queue, batch/n)]]

i don't know why ,have you ever fixed the problem?

[2018-10-30 11:31] zmssqqli opened #221 "大家好，我想配置这套代码，阿里云最近双11活动一折可以买云服务器，我该买哪一种呢，大家帮我看下？"
地址在这里： https://m.aliyun.com/act/team1111/#/share?params=N.9g4CZ2TwSh.f3afagaq
朋友分享给我的，登陆淘宝号进去发现折扣很大，优惠了很多，很心动，想入手一款自己学习用，麻烦大家帮我看下选择哪种划算，谢谢

[2018-10-30 11:31] zmssqqli commented on #221
拜托啦

[2019-01-11 03:05] qoocrab opened #230 "lab-04-4-tf_reader_linear_regression.py"
'lab-04-4-tf_reader_linear_regression.py' code needs to be improved.
The 'Queue-based input pipelines' used in the code is going to be removed from Tensorflow.
So there is a warning message suggesting to change to 'tf.data' format.

WARNING:tensorflow:From D:/study-deeplearning/lab_04_04_TF_Reader_Linear_Regression.py:9: string_input_producer (from tensorflow.python.training.input) is deprecated a

[2019-01-16 17:39] tucan9389 opened #243 "lab-02-2-linear_regression_feed.py need `global_variables_initializer`"
Hi, I'm a student and I have found some weird thing in `lab-02-2-linear_regression_feed.py`.
At line 41, there is second training with the new dataset(`{X: [1, 2, 3, 4, 5], Y: [2.1, 3.1, 4.1, 5.1, 6.1]}`) but `global_variables_initializer` isn't called before second training.

Is there any reason for this?

[2019-01-16 17:44] kkweon commented on #243
Instead of starting fresh, it is training on the top of the previous model. Sort of like simplified version of transfer learning

[2019-01-17 07:35] tucan9389 commented on #243
@kkweon Thanks for reply 👍

[2019-01-17 07:35] #243 closed

[2019-01-28 06:21] Kim-yonguk opened #244 "lab-10-1-mnist_softmax Weight,bias 관련 질문있습니다."
W = tf.Variable(tf.random_normal([784, 10]))
b = tf.Variable(tf.random_normal([10]))
로 사용하면 정확도는 약 0.89정도 나옵니다.
근데 여기서 W와 b를
W = tf.Variable(tf.zeros([784, 10]))
b = tf.Variable(tf.zeros([10])) 로 사용하면 정확도는 약 0.92 정도 나오는데
제가 공부를 시작한지 별로 안돼서 그런데
random_normal 은 0~1 사이의 정규확률분포 값을 생성해주는 함수로 알고있고
zeros 는 0으로 생성하는걸로 알고있는데 정확도에 있어 저렇게 값이 많이 차이나는지를 잘 모르겠습니다.
음.. 어떤 경우에 zeros 를 쓰고 random_normal 을 쓰는지 잘모르겠습

[2019-01-28 07:10] Kim-yonguk commented on #244
음 굳이 0으로 초기화하나 난수로 주나 시작지점이 매번 달라짐에도 불구하고 최저비용을 스스로 찾아가는것을 보여주기위해서라서 상관없나요? zeros 를 쓰나 random을 쓰나..

[2019-03-18 02:24] sungsunny opened #245 "always same prediction 질문입니다."
mnist 이미지를 import 시키지 않고, 제가 갖고있는 이미지를 불러와서 학습시키고 검증하려고 하는데요~  prediction값이 항상 같게 나옵니다. 학습이 제대로 안된건가 싶어서 layer부분을 다시 엎어보기도 했구요.. normalize도 해보고 layer를 더 늘려도 봤습니다. 그리고 이미지도 mnist 이미지를 제 컴퓨터에 직접 저장해서 돌려도 봤습니다. 또 어떤 시도를 해 볼 수 있을까요?

I want training and testing with own images. But, the prediction is always same so I try to normalize images or add layers. I thought that training was not operated. And

[2019-08-10 11:46] tcratius commented on #230
https://stackoverflow.com/questions/57381430/synonym-of-type-is-deprecated-in-a-future-version-of-numpy-it-will-be-underst

See Stakes Overflow, and downgrade numpy 1.14.5

[2019-10-31 00:47] hunkim opened #251 "Anyone interested in sending PR to change this code to TF 2.0?"

[2019-10-31 00:50] sungmj commented on #251
I'll take it

[2019-11-01 05:57] jayjun911 commented on #251
PR sent for TF2 conversion

[2019-11-01 06:11] hunkim commented on #251
Cool. I will take a look at and merge.

Thanks!!

On Fri, 1 Nov 2019 at 2:57 PM, jayjun911 <notifications@github.com> wrote:

[2019-11-01 06:35] jayjun911 commented on #251
feel free to make modification as necessary. thank you!

[2019-11-29 09:56] LukeSungukJung commented on #212
Can I fix them?

[2019-12-11 00:06] #245 closed

[2019-12-11 00:06] #230 closed

[2019-12-11 00:06] #244 closed

[2019-12-11 00:06] #210 closed

[2019-12-11 00:06] #213 closed

[2019-12-11 00:06] #200 closed

[2019-12-11 00:06] #202 closed

[2019-12-11 00:06] #187 closed

[2019-12-11 00:06] #182 closed

[2019-12-11 00:06] #184 closed

[2019-12-11 00:06] #178 closed

[2019-12-11 00:06] #179 closed

[2019-12-11 00:06] #159 closed

[2019-12-11 00:06] #174 closed

[2019-12-11 00:06] #157 closed

[2019-12-13 00:00] #251 closed

[2019-12-13 00:00] #141 closed

[2019-12-13 00:00] #123 closed

[2019-12-13 00:00] #138 closed

[2019-12-13 00:00] #107 closed

[2019-12-13 00:00] #109 closed

[2020-01-05 00:06] #212 closed

[2020-01-13 09:26] skimisme opened #261 "keras and TF2 folders"
All source code under keras and TF2 are written in Keras.
Was the code under TF2 supposed to be written in TF2 not in Keras?

[2020-01-13 23:28] kkweon commented on #261
TF2 directory should contain code written in TF2.
If you are referring to `tf.keras`, it's okay to use `tf.keras` layers as it's just a TensorFlow implementation of Keras APIs.

[2020-01-13 23:28] #261 closed

[2020-09-11 06:49] yetzi1975 opened #263 "Question on lab-12-0-rnn_basics.ipynb"
run [10]
outputs, _states = tf.nn.dynamic_rnn(cell, x_data, dtype=tf.float32)

and get:
WARNING:tensorflow:From <ipython-input-10-33407b3902df>:4: MultiRNNCell.__init__ (from tensorflow.python.ops.rnn_cell_impl) is deprecated and will be removed in a future version.
Instructions for updating:
This class is equivalent as tf.keras.layers.StackedRNNCells, and will be replaced by that in Tensorflow 2.

[2020-10-17 00:08] #263 closed

[2021-01-20 03:32] WS1909 opened #266 "hello"
run about this
:
mnist = tf.keras.datasets.mnist
(x_train, y_train), (x_test, y_test) = mnist.load_data()

Error
:
~/.pyenv/versions/tf2/lib/python3.7/site-packages/tensorflow/python/keras/utils/data_utils.py in get_file(fname, origin, untar, md5_hash, file_hash, cache_subdir, hash_algorithm, extract, archive_format, cache_dir)
    291         raise Exception(error_msg.format(origin, e.code, e.msg

[2021-02-26 00:06] #266 closed

[2022-08-05 19:18] 7565A opened #272 "DeepLearningZeroToAll"
- Create a new issue

[2022-08-05 19:19] 7565A opened #273 "- Create a new issue"
__Create a new issue

__Originally posted by @7565A in https://github.com/hunkim/DeepLearningZeroToAll/issues/272__

[2022-09-11 00:42] #272 closed, assigned to nobody

[2022-09-11 00:42] #273 closed, assigned to nobody